@font-face {
    font-family: 'ConcertOne';
    src: url('./ConcertOne/ConcertOne-Regular.ttf') format('truetype');
}

* {
    background-color: rgb(32, 5, 56);
    color: rgb(138, 43, 226);
    font-family: 'ConcertOne';
}

#nav-bar {
    display: flex;
}

#nav-bar ul {
    font-size: 20px;
    display: inline-flex;
    list-style: none;
    float: right;
    padding-left: 700px;
}

#nav-bar ul a {
    padding: 5px;
    text-decoration: none;
}

.project1 {
    background-image: url("./img/img1.png");
    width: 1200px;
    height: 600px;
    color: rgb(138, 43, 226);
    font-family: 'Concert One';
    font-size: 40px;
}

.project1 a {
    background-color: rgb(32, 5, 56);
    padding: 10px;
    text-decoration: none;
}

#about-me {
    display: inline-flex;
}

#about-me h2 {
    padding: 0px 5px 0px 60px;
    text-align: right;
}

#about-me p {
    border-left: 3px solid #8a2be2;
    padding-left: 5px;

}